<!DOCTYPE html>
<html class="fuelux" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ServicePRO-Web</title>
    <meta name="description" content="Easiest HTML admin template to work with! Have your site up &amp; running in five minutes!">

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery-ui-1.10.3.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/style(1).css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/_demo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/fontello.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/jquery.toolbar.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.common-bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.mobile.all.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/kendo/2015.1.429/kendo.dataviz.bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/jszip.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.all.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo/2015.1.429/kendo.aspnetmvc.min.js")"></script>
    <script src="@Url.Content("~/Scripts/kendo.modernizr.custom.js")"></script>

    @*<link rel="shortcut icon" type="image/png" href="http://slater.webfactoryltd.com/favicon.ico">*@
    <link href="@Url.Content("~/Content/css/customfont.css")" rel="stylesheet" type="text/css" />

    <style>
            .sidebar,
            .sidebar .menu li,
            .sidebar .menu li a .menu-icon{
                background-color: #4d7496;
            }

            .sidebar .menu li a .menu-icon i,
            .sidebar .menu li a .menu-text {
                color: #ffffff;
            }

            .sidebar .menu li.active{
                background-color: #2c4f6d;
            }

            .dshb_icoNav { /* margin:0; */ /* text-align:center; */ /* padding:0 */
            }

            .dshb_icoNav li {
                -webkit-box-shadow: inset 0px 1px 0px 0px #fff;
                box-shadow: inset 0px 1px 0px 0px #fff;
                text-align: center;
                list-style: none;
                display: inline-block;
                margin: 0 5px 10px;
                background: #f9f9f9;
                background: -moz-linear-gradient(top, #f9f9f9 0%, #efefef 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#efefef));
                background: -webkit-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
                background: -o-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
                background: -ms-linear-gradient(top, #f9f9f9 0%,#efefef 100%);
                background: linear-gradient(top, #f9f9f9 0%,#efefef 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#efefef',GradientType=0 );
                border: 1px solid #e2e2e2;
                -webkit-border-radius: 6px;
                -moz-border-radius: 6px;
                -ms-border-radius: 6px;
                border-radius: 6px;
            }

            .dshb_icoNav li:hover {
                border-color: #d2d2d2;
                -moz-box-shadow: 0 0 6px #ccc;
                -webkit-box-shadow: 0 0 6px #ccc;
                box-shadow: 0 0 6px #ccc;
            }

            .dshb_icoNav li a {
                position: relative;
                display: block;
                padding: 28px 8px 8px;
                width: 110px;
                height: 50px;
                font-size: 12px;
                color: #222;
                background-repeat: no-repeat;
                background-position: center 0px;
            }

            .dshb_icoNav li a:hover {
                text-decoration: none;
            }

            .dshb_icoNav .label {
                position: absolute;
                right: -5px;
                top: -5px;
                text-shadow: none;
            }
    </style>

</head>
<body>
    <div class="loader-overlay finished">
        <div class="loader-spinner">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
    <section class="content">
        <div class="sidebar">

            <div class="responsive-menu">
                <a href="#"><i class="fa fa-bars"></i></a>
            </div>
            <ul class="menu">
                <li class="lightblue active">
                    <a href="/Home/NewWindow">
                        <span class="menu-icon"><i class="fontello-desktop"></i></span>
                        <span class="menu-text">Contract Reports</span>
                    </a>
                </li>
                <li class="lightblue">
                    <a href="/Home/NewWindow2">
                        <span class="menu-icon"><i class="fontello-desktop"></i></span>
                        <span class="menu-text">Job Reports</span>
                    </a>
                </li>
                <li class="lightyellow">
                    <a href="">
                        <span class="menu-icon"><i class="fontello-paper-plane"></i></span>
                        <span class="menu-text">Misc Reports</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content-liquid-full">
            <div class="container">
                <div class="container" id="main-area">
                    <div class="row mini-header-container">
                        <div class="mini-header" style="padding: 5px 10px;">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                    <h5 class="thin" style="font-size: 18px; margin-bottom: 0px;">Dashboard</h5>
                                    <p class="text-muted" style="font-weight:normal;">Welcome to Ultimate Dashboard</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" id="toolbar" style="margin-top:12px;">
                        <div class="col-lg-12">
                            <div class="panel widget-info-box" style="margin-bottom:10px;">
                                <ul class="dshb_icoNav clearfix" style="margin:10px 0 0 5px;">
                                    <li><a href="javascript:void(0)" style="background-image: url(http://gebo-admin-3.tzdthemes.com/img/gCons/multi-agents.png)">New</a></li>
                                    <li><a href="javascript:void(0)" style="background-image: url(http://gebo-admin-3.tzdthemes.com/img/gCons/world.png)">Save</a></li>
                                    <li><a href="javascript:void(0)" style="background-image: url(http://gebo-admin-3.tzdthemes.com/img/gCons/configuration.png)">Find</a></li>
                                    <li><a href="javascript:void(0)" style="background-image: url(http://gebo-admin-3.tzdthemes.com/img/gCons/lab.png)">Delete</a></li>
                                    <li id="remove"><a href="javascript:void(0)" style="background-image: url(http://gebo-admin-3.tzdthemes.com/img/gCons/van.png)">Preview</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    @RenderBody()

                </div>

                <div class="footer-line">
                    © All rights reserved by TemiSoft Pty ltd
                </div>
            </div>
        </div>
    </section>

    <script src="@Url.Content("~/Scripts/js/all-pages.js")"></script>
    <script src="@Url.Content("~/Scripts/js/scripts.js")"></script>
    <script src="@Url.Content("~/Scripts/js/jquery.toolbar.js")"></script>
</body>
</html>