@using ServiceBoard.Helper;

@{
    ViewBag.Title = "SPBoard - Home";
    ViewBag.SubTitle = "Overview and Stats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="@Url.Content("~/Scripts/js/flot/jquery.flot.js")"></script>
<script src="@Url.Content("~/Scripts/js/flot/jquery.flot.pie.js")"></script>
<script src="@Url.Content("~/Scripts/js/flot/jquery.flot.axislabels.js")"></script>
<script src="@Url.Content("~/Scripts/js/flot/jquery.flot.orderBars.js")"></script>
<script src="@Url.Content("~/Scripts/js/ChartLine/Chart.js")"></script>

<style>
    #flot-bar-chart3 {
        width: 324px;
        height: 260px;
    }

    #flot-bar-chart3 .flot-base {
        margin: 9px 0 0 40px;
    }

    #flot-bar-chart3 .flot-text .flot-x-axis {
        margin: 5px 0 0 35px;
    }
    
    .flot-chart-content {
        width: 100%;
        height: 100%;
    }

    .view-more {
        border-radius: 100px;
    }

    #recent-tab a.tabSales:hover {
        border: 1px solid #CCCCCC;
    }

    .widget-box{
        margin: 0px;
    } 
    
    .jobListItem {
        border-bottom: 1px dotted #CCCCCC;
        padding: 4px 0 8px 0;
    }

    .popup-textbox {
        height: 27px;
        margin: 5px;
    }

    #dialog-googlemap .ui-autocomplete{
        height: 350px;
        overflow: scroll;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="row">

            <div class="col-lg-5">
                <div class="widget-box transparent" id="recent-box" style="border-left: dotted 1px #CCCCCC;">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-signal orange"></i>Resource Utilization
                        </h4>

                        <div class="widget-toolbar no-border tabbable">
                            <ul class="nav nav-tabs" id="recent-tab">
                                <li class="active">
                                    <a class="tabSales" data-toggle="tab" href="#resource1stTab">Overall</a>
                                </li>

                                <li>
                                    <a class="tabSales" data-toggle="tab" href="#resource2ndTab">Day wise</a>
                                </li>
                                <li>
                                    <a href="#" data-action="collapse" style="border-left:dotted 1px #CCCCCC;">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div class="tab-content padding-8" style="padding-left:0px;">
                                <div id="resource1stTab" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-lg-7" style="padding-left:25px;">
                                            <canvas id="gauge1" width="250" height="250"
                                                    data-type="canv-gauge"
                                                    data-title="Resource"
                                                    data-min-value="0"
                                                    data-max-value="100"
                                                    data-major-ticks="0 20 40 60 80 100"
                                                    data-minor-ticks="2"
                                                    data-units="Utilization"
                                                    data-glow="true"
                                                    data-animation-delay="10"
                                                    data-animation-duration="1700"
                                                    data-animation-fn="bounce"
                                                    data-colors-needle="#f00 #00f"
                                                    data-highlights="0 20 #F54949, 20 40 #F58B49, 40 60 #F5CA49, 60 80 #B5FCB1, 80 100 #26CF1D"
                                                    data-onready="Gauge.Collection.get('gauge1').setValue(@ViewBag.ResourcePercentage)"></canvas>
                                        </div>
                                        <div class="col-lg-5" style="color: #1e8b04; font-size: 11px; position: absolute; left: 60%; top: 35%;">
                                            <span>Booked Resource: @ViewBag.ResourcePercentage%</span>
                                            <br />
                                            <span>Available Resource: @(100 - ViewBag.ResourcePercentage)%</span>
                                        </div>
                                    </div>
                                    <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/ResourceUtilizationDetail" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="font-size: 12px; clear: both;">View More...</a>
                                </div>

                                <div id="resource2ndTab" class="tab-pane">
                                    <div id="flot-bar-chart3" style="margin: -15px 0 20px 0; height: 300px;width:380px;"></div>
                                    <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/ResourceUtilizationOneDayPertech" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="font-size: 12px; clear: both;">View More...</a>
                                </div>
                                <br /><br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div class="widget-box transparent" style="border-left: dotted 1px #CCCCCC;">
                    <div class="widget-header">
                        <h4 class="widget-title lighter smaller">
                            <i class="ace-icon fa fa-signal orange"></i>Sales Analysis
                        </h4>

                        <div class="widget-toolbar no-border tabbable">
                            <ul class="nav nav-tabs" id="recent-tab">
                                <li class="active">
                                    <a class="tabSales" data-toggle="tab" href="#sales1stTab">Overall</a>
                                </li>

                                <li id="liYTD">
                                    <a class="tabSales" data-toggle="tab" href="#sales2ndTab">YTD</a>
                                </li>

                                <li id="liCatComp" class="">
                                    <a class="tabSales" data-toggle="tab" href="#sales3rdTab">Cat. Comp</a>
                                </li>
                                <li>
                                    <a href="#" data-action="collapse" style="border-left:dotted 1px #CCCCCC;">
                                        <i class="ace-icon fa fa-chevron-up"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div class="tab-content padding-8" style="padding-left:40px;">
                                <div id="sales1stTab" class="tab-pane active">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="radio">
                                                <label>
                                                    <input id="rdoYTD" class="ace" type="radio" name="form-field-radio">
                                                    <span class="lbl"> YTD</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="radio">
                                                <label>
                                                    <input id="rdoMTD" class="ace" type="radio" name="form-field-radio">
                                                    <span class="lbl"> MTD</span>
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hdnReportType" name="hdnReportType" />
                                    </div>

                                    <div id="divYTDLoading" style="display:none;"></div>
                                    <div class="flot-chart-content" id="flot-bar-chart" style="margin:10px 0 0 15px;height:250px;width:450px;"></div>
                                    <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/SalesAnalysisOverallDetail" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="font-size:12px;">View More...</a>
                                </div>

                                <div id="sales2ndTab" class="tab-pane">
                                    <div id="divYTDLoading2" style="display:none;"></div>
                                    <div id=""></div>
                                    <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/SalesAnalysisOverallDetail" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="font-size:12px;">View More...</a>
                                </div>

                                <div id="sales3rdTab" class="tab-pane">
                                    <div class="row">
                                        <div class="col-lg-2">
                                            <div class="radio">
                                                <label>
                                                    <input id="rdoYTDCat" class="ace" type="radio" name="form-field-radio3">
                                                    <span class="lbl"> YTD</span>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-lg-2">
                                            <div class="radio">
                                                <label>
                                                    <input id="rdoMTDCat" class="ace" type="radio" name="form-field-radio3">
                                                    <span class="lbl"> MTD</span>
                                                </label>
                                            </div>
                                        </div>
                                        <input type="hidden" id="hdnReportTypeCat" name="hdnReportTypeCat" />
                                    </div>

                                    <div id="divYTDLoading3" style="display:none;"></div>
                                    <div class="flot-chart-content" id="flot-bar-chart-cat" style="margin:10px 0 0 15px;height:250px;width:450px;"></div>
                                    <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/SalesAnalysisByCategoryDetail" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="font-size:12px;">View More...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr hr-dotted"></div>

        <div class="row">
            <div class="col-lg-6" id="divDebtor">
                <div class="widget-box transparent">
                    <div class="widget-header widget-header-flat">
                        <h4 class="widget-title lighter">
                            <i class="ace-icon fa fa-signal"></i>
                            Debtors Analysis
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <canvas id="flot-line-chart" width="490" height="300"></canvas>
                        </div>
                        <a href="@SPBoardHelper.GetSiteUrl()/SPBoard/DebtorAnalysisDetail" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="margin-bottom: 10px; font-size:12px;">View More...</a>
                        <br/><br />
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="widget-box transparent" style="border: 1px dotted #CCCCCC; clear: both;">
                    <div class="widget-header widget-header-flat">
                        <h4 class="widget-title lighter">
                            <i class="ace-icon fa fa-star orange"></i>
                            Booked Jobs
                        </h4>

                        <div class="widget-toolbar">
                            <a href="#" data-action="collapse">
                                <i class="ace-icon fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>

                    <div class="widget-body">
                        <div class="widget-main padding-4">
                            <div id="googleMap" style="height:280px;"></div>
                        </div>
                        <a id="vmore-googlemap" class="btn btn-white btn-yellow btn-sm pull-right view-more" style="margin-top: 20px;font-size:12px;">View More...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div id="dialog-googlemap" class="hide">

                    <div class="row">
                        <div class="col-lg-12">
                            Area: <input id="txtArea" type="text" class="popup-textbox" style="width: 140px;" />
                            Tech: <input id="txtTech" type="text" class="popup-textbox" style="width: 120px;" />
                            Date From: <input id="txtFromDate" type="text" class="popup-textbox" style="width: 120px;" placeholder="Select Date" />
                            Date To: <input id="txtToDate" type="text" class="popup-textbox" style="width: 120px;" placeholder="Select Date" />

                            <button class="btn btn-xs btn-success" id="btnSearchBookedJobs" style="margin-left: 10px;">
                                <i class="ace-icon fa fa-search bigger-110"></i>
                                Search
                            </button>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-lg-3 col-sm-3" style="padding-left:7px;padding-right:5px;">
                            <div class="widget-box transparent" style="margin: 0px; border: 1px solid #CCCCCC; padding-bottom: 15px;">
                                <div class="widget-header widget-header-flat">
                                    <h4 class="widget-title lighter">
                                        Searched Jobs (<span id="spanNumberOfJobs">0</span>)
                                    </h4>
                                </div>

                                <div class="widget-body" id="bookedJobsList">
                                    <div id="divJobList" class="widget-main" style="height: 391px; overflow:auto; padding: 5px;">
                                        @*<div class="jobListItem">
                                            <a style="cursor: pointer;">1 Trentino Road, Turramurra, NSW 2074</a>
                                            <br />
                                            William Factory
                                        </div>
                                        <div class="jobListItem">
                                            <a style="cursor: pointer;">97 Eastern Road, Turramurra, NSW 2074</a>
                                            <br />
                                            William Factory
                                        </div>
                                        <div class="jobListItem">
                                            <a style="cursor: pointer;">22 Trentino Road, Turramurra, NSW 2074</a>
                                            <br />
                                            William Factory
                                        </div>
                                        <div class="jobListItem">
                                            <a style="cursor: pointer;">208 Coward Street, Mascot, NSW 2020</a>
                                            <br />
                                            William Factory
                                        </div>
                                        <div class="jobListItem">
                                            <a style="cursor: pointer;">329 Elizabeth Street, Surry Hills, NSW 2010</a>
                                            <br />
                                            William Factory
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 col-sm-9" style="padding-left: 0px; padding-right: 8px;">
                            <div id="googleMap-dialog" style="height:450px;width:890px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="@Url.Content("~/Scripts/js/gauge/gauge.js")"></script>
<script src="@Url.Content("~/Scripts/js/pages/spboard.js")"></script>
<script src="@Url.Content("~/Scripts/js/pages/salesanalysishome.js")"></script>
<script src="@Url.Content("~/Scripts/js/justGage/raphael.2.1.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/js/justGage/justgage.1.0.1.js")"></script>
<script src="@Url.Content("~/Scripts/js/infobox.js")"></script>
<script src="@Url.Content("~/Scripts/js/flot/jquery.flot.stack.js")"></script>

<script>

    $("#btnSearchBookedJobs").click(function () {

        if ($("#txtFromDate").val().trim().length <= 0) {
            alert("Please select From Date.");
            $("#txtFromDate").focus();
            return false;
        }

        if ($("#txtToDate").val().trim().length <= 0) {
            alert("Please select To Date.");
            $("#txtToDate").focus();
            return false;
        }

        var dayDiff = 0;
        dayDiff = new Date($("#txtToDate").datepicker('getDate')) - new Date($("#txtFromDate").datepicker('getDate'));

        if (dayDiff < 0) {
            alert("To date cannot be smaller than From date.");
            return false;
        }

        var html = "";
        var FromDate = $("#txtFromDate").val();
        var ToDate = $("#txtToDate").val();

        $("#divJobList").html("<img alt='' src='" + $("#hdnSiteURL").val() + "/Content/Images/ajax-loader-bar.gif' />");

        $.ajax({
            url: $("#hdnSiteURL").val() + "/SPBoard/GetBookedJobList",
            type: "POST",
            data: { fromDate: FromDate, toDate: ToDate, area: $("#txtArea").val(), tech: $("#txtTech").val() },
            dataType: "JSON",
            success: function (data) {
                if (data != null) {
                    $("#spanNumberOfJobs").html(data.length);
                    $("#bookedJobsList").show();

                    $.each(data, function (i, job) {
                        html += '<div class="jobListItem">';
                        html += '<a style="cursor: pointer;">' + job.Address + '</a><br />';
                        html += '<b>Tech: </b>' + job.Tech + '<br/>';
                        html += '<b>Client: </b>' + job.CustomerName + '<br/>';
                        html += '<b>Job Date: </b>' + ToDateTimeString(job.JobDate) + '<br/>';
                        html += '<b>Job Status: </b>' + job.Status + '</div>';
                    });

                    $("#divJobList").html(html);
                }
                else {
                    $("#spanNumberOfJobs").html("0");
                    $("#divJobList").html("");
                    //alert("No job found. Try again with other criteria.");
                }
            },
            error: function (request) {
                $("#spanNumberOfJobs").html("0");
                $("#divJobList").html("");
                alert("No job found. Try again with other criteria.");
            }
        });
    });

    $(document.body).on('click', '#divJobList div.jobListItem a', function () {

        var map;
        var address = $(this).html();
        var myOptions = {
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(document.getElementById("googleMap-dialog"), myOptions);
        var infowindow = new google.maps.InfoWindow();
        var pinIconUrl = 'http://maps.google.com/mapfiles/ms/icons/';
        var pinColors = ['green-dot.png', 'red-dot.png', 'blue-dot.png', 'red-dot.png', 'green-dot.png'];

        $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + address + '&sensor=true', null, function (data) {
            if (data.status == "OK"){
                var p = data.results[0].geometry.location
                var latlng = new google.maps.LatLng(p.lat, p.lng);
                var bookedDate = (new Date().getDate()) + "/" + (new Date().getMonth() + 1) + "/" + new Date().getFullYear();
                var tooltipText = "Address: <span style='font-weight: bold;'>" + address + "</span><br/>Booked on: <span style='font-weight: bold;'>" + bookedDate + "</span><br/>Booked by: <span style='font-weight: bold;'>William factory</span>";

                infowindow.close();
                map.setCenter(new google.maps.LatLng(p.lat, p.lng));

                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    icon: pinIconUrl + pinColors[0]
                });

                infowindow.setContent(tooltipText);
                infowindow.open(map, marker);
            }
            else
                alert("Address Not Found. Please check again.");
        })
    });

    function GetGoogleMapLocation(googlemap, zoomLevel, showTooltip, showLabel) {
        var map;
        var index = 0;

        var myOptions = {
            zoom: zoomLevel,
            center: new google.maps.LatLng(-29.908451, 133.150296),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        map = new google.maps.Map(googlemap[0], myOptions);
        var infowindow = new google.maps.InfoWindow();

        //var addresses = ['1 Trentino Road, Turramurra, NSW 2074', '208 Coward Street, Mascot, NSW 2020', '37, Britannina Drive, Glenfield, NSW 2164'];
        var addresses = ['NSW 2074', 'NSW 2020', 'NSW 2167', 'VIC 3000', 'WA 6000'];
        var pinIconUrl = 'http://maps.google.com/mapfiles/ms/icons/';
        var pinColors = ['green-dot.png', 'red-dot.png', 'blue-dot.png', 'red-dot.png', 'green-dot.png'];

        for (var x = 0; x < addresses.length; x++) {
            $.getJSON('http://maps.googleapis.com/maps/api/geocode/json?address=' + addresses[x] + '&sensor=true', null, function (data) {

                var p = data.results[0].geometry.location
                var latlng = new google.maps.LatLng(p.lat, p.lng);
                var bookedDate = (new Date().getDate() - index) + "/" + (new Date().getMonth() + 1) + "/" + new Date().getFullYear();
                var tooltipText = "Address: <span style='font-weight: bold;'>" + addresses[index] + "</span><br/>Booked on: <span style='font-weight: bold;'>" + bookedDate + "</span><br/>Booked by: <span style='font-weight: bold;'>William factory</span>";

                infowindow.close();
                //map.setCenter(new google.maps.LatLng(p.lat, p.lng));

                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    title: showTooltip == true ? 'Click to get info' : "",
                    icon: pinIconUrl + pinColors[index]
                });

                if (showLabel) {
                    var labelText = "<div style='background-color: yellow;'>" + (10 * (index + 1)) + "</div>";

                    var labelOption = {
                        content: labelText
                                , boxStyle: {
                                    border: "1px solid black"
                                  , textAlign: "center"
                                  , fontSize: "8pt"
                                  , width: "20px"
                                }
                        , disableAutoPan: true
                        , pixelOffset: new google.maps.Size(-10, 0)
                        , position: latlng
                        , closeBoxURL: ""
                        , isHidden: false
                        , pane: "mapPane"
                        , enableEventPropagation: true
                    };

                    var ibLabel = new InfoBox(labelOption);
                    ibLabel.open(map, marker);
                }

                var getMapClickListener = function (m) {
                    return function () {
                        if (showTooltip) {
                            infowindow.setContent(tooltipText);
                            infowindow.open(m, marker);
                        }
                    };
                };

                google.maps.event.addListener(marker, 'click', getMapClickListener(map));
                index++;
            });
        }
    }

    function LoadAJAXResourceUtilizationOneDayPerTech() {

        var FromDate = FormatCustomDate(new Date());

        $.ajax({
            url: $("#hdnSiteURL").val() + "/SPBoard/ResourceUtilizationOneDayPerTech",
            type: "POST",
            data: { fromDate: FromDate },
            dataType: "JSON",
            success: function (data) {
                if (data != null && data.Bars != null) {
                    LoadBarChartHorizontal(data, $("#flot-bar-chart3"), false);
                    $("#flot-bar-chart3 div.legend table").css("opacity", "0.85");
                    $("#flot-bar-chart3 div.legend table").css("background-color", "#FFFFFF");
                    $("#flot-bar-chart3 div.legend table").css("right", "-25px");
                }
                else {
                    $("#flot-bar-chart3").css("text-align", "center");
                    $("#flot-bar-chart3").css("margin", "0 auto");
                    $("#flot-bar-chart3").css("padding-top", "100px");
                    $("#flot-bar-chart3").css("color", "#BBBBBB");
                    $("#flot-bar-chart3").html("There is no data for today. Click View More for details.");
                }
            },
            error: function (request) {
            }
        });
    }

    function LoadNumbersByPostCode() {

        $.ajax({
            url: $("#hdnSiteURL").val() + "/SPBoard/GetJobNumberByPostCode",
            type: "POST",
            data: {},
            dataType: "JSON",
            success: function (data) {
                if (data != null) {
                    $.each(data, function (i, job) {
                        statePostCode.push(job.StatePostCode);
                        numbersOfJobs.push(job.NumbersOfJob);
                    });
                }
            },
            error: function (request) {
            }
        });
    }

    $(function () {

        //var g = new JustGage({
        //    id: "flot-bar-chart3",
        //    value: getRandomInt(0, 100),
        //    min: 0,
        //    max: 100,
        //    title: "Utilization",
        //    label: "percentage"
        //});

        var areas = @Html.Raw(Json.Encode(ViewBag.Areas))
        
        $("#txtArea").autocomplete({
            source: areas.split(','),
            appendTo: "#dialog-googlemap"
        });

        var techs = @Html.Raw(Json.Encode(ViewBag.Techs))

        $("#txtTech").autocomplete({
            source: techs.split(','),
            appendTo: "#dialog-googlemap"
        });

        $('#txtFromDate').datepicker({
            dateFormat: "dd MM, yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            altFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: (new Date().getFullYear() - 5) + ':' + (new Date().getFullYear() + 2),
            onSelect: function (date) {
                if ($("#txtToDate").datepicker('getDate') == null) {
                    $('#txtToDate').datepicker("setDate", $("#txtFromDate").datepicker('getDate'));
                }
            }
        })

        $('#txtToDate').datepicker({
            dateFormat: "dd MM, yy",
            showOtherMonths: true,
            selectOtherMonths: true,
            altFormat: "yy-mm-dd",
            changeMonth: true,
            changeYear: true,
            yearRange: (new Date().getFullYear() - 5) + ':' + (new Date().getFullYear() + 2),
            onSelect: function (date) {
                var dayDiff = 0;
                dayDiff = new Date($("#txtToDate").datepicker('getDate')) - new Date($("#txtFromDate").datepicker('getDate'));

                if (dayDiff < 0) {
                    alert("To date cannot be smaller than From date.");
                    $("#txtToDate").val("");
                    return;
                }
            }
        })

        LoadAJAXResourceUtilizationOneDayPerTech();
        GetGoogleMapLocation($('#googleMap'), 4, true, true);

        $("#vmore-googlemap").on('click', function (e) {

            $("#txtArea").val("[ALL]");
            $("#txtTech").val("[ALL]");
            $("#txtFromDate").val("");
            $("#txtToDate").val("");
            $("#divJobList").html("");
            $("#spanNumberOfJobs").html("0");

            var dialog = $("#dialog-googlemap").removeClass('hide').dialog({
                modal: true,
                width: "1200px",
                show: {
                    effect: "blind",
                    duration: 500
                },
                buttons: [
                    {
                        text: "Close",
                        "class": "btn btn-primary btn-minier",
                        click: function () {
                            $(this).dialog("close");
                        }
                    }
                ]
            });

            GetGoogleMapLocation($('#googleMap-dialog'), 4, true, true);
            $("#ui-id-1").html("<i class='ace-icon fa fa-star orange'></i> Booked Jobs");
            //google.maps.event.trigger(map, 'resize');
        });
    });

</script>